In [ ]:
leven = []
lodd = []

[leven.append(item) if item%2==0 else lodd.append(item) for item in range(100)]

In [ ]:
leven, lodd

In [ ]:
la = [1,2,3]
lb = [4,5,6]
lc = []
lc = [(x,y) for x in la for y in lb ]
lc

In [ ]:
t = (1,2,3)
t = t + t+t
t

In [ ]:
l = [1,2,3]
l = l+l+l
l

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)
t = t1+t2
t

In [ ]:
t = (t1,t2)
t

In [ ]:
l1 = ['Hong', 'Khanh']
t1 = ('aaa', 'bbb')
t = (l1,t1)
t

In [ ]:
type(t[1])

In [ ]:
t = l1 + t1

In [ ]:
l = [1,2,3]
t = (4,5,6)
t1 = (1,2,3, t, l)
t1

In [ ]:
t1[4][2] = 10
t1

In [ ]:
t1[2] = 5

In [ ]:
s = {5,6,8,1,4}
s

In [ ]:
A = {1,2,3,4,5}
B = {7,6,5,4,3}
A - B

In [ ]:
A ^B

In [ ]:
A|B

In [ ]:
A&B

In [ ]:
dictionary = {"hs1":"Hong","hs2":"Tuan","hs3":"Teo"}
dictionary

In [ ]:
dictionary.keys()

In [ ]:
dictionary.values()

In [ ]:
dictionary["hs4"] = 'Khanh'

In [ ]:
[print(item[1]) for item in dictionary.items()]

In [ ]:
diem = dict(A=5, B=10, C = 8)
diem

In [ ]:
result = {x:x**2 for x in range(100)}
result

In [ ]:
def tong(n1,n2,n3=10):
    t = n1+n2+n3
    return t

In [ ]:
tongn = tong(6,4)
print(tongn)
tongn

In [ ]:
def tong(*data):
    t=0
    for item in data:
        t += item
    return t

In [ ]:
ketqua = tong(10,20,30,40,80)
ketqua

In [ ]:
def tong(*data): # * truyền nhiều tham số
    kq = []
    for item in data:
        t=0
        for n in item:
            t += n
        kq.append(t)
    return kq

In [ ]:
tong([5,6,8],[8,9,4])

In [ ]:
def dienthoai(**data): # ** truyền nhiều tham số 2 giá trị
    count = 0
    for name,price in data.items():
        row = '{:10} {:10}'.format(name,price)
        print(row)
        count += price
    return count

In [ ]:
tong = dienthoai(iphone=50000,ss=30000,nokia=5000)
print('-'*30)
print('{:10} {:10}'.format('Tong:', tong))

In [ ]:
def tong(n1,n2,n3, *data, **data2):
    t1=t2=t3=0
    t1 = n1+n2+n3
    for item in data:
        t2 += item
    for k,v in data2.items():
        t3 += v
    t = [t1,t2,t3]
    return t

In [ ]:
tong(10,20,50,11,12,13,14,15, one = 100, two=200, three=300)

Iterator

In [ ]:
l = [1,2,3,4,5,6]
I = iter(l)

In [ ]:
type(I)

In [ ]:
I.__next__()

In [ ]:
l = 'Nguyen Gia Hong'
I = iter(l)

In [ ]:
type(I)

In [ ]:
I.__next__()

Generator

In [ ]:
x = range(0,10,2)
for i in x:
    print(i)

In [ ]:
def myrange(start, end, step):
    i = start
    while(i<end):
        yield i #tạo biến hứng i, hàm sẽ trả ra giá trị như return nhưng chạy tiếp tục
        i += step

In [ ]:
myrange(0,5,2)

In [ ]:
t = myrange(0,5,2)
for i in t:
    print(i)

Ex1

In [ ]:
def countchar(*data):
    dic = {}
    for i in data:
        for c in i:
            c = c.lower()
            if c in dic:
                dic[c] += 1
            else:
                dic[c] = 1
    return dic

In [ ]:
countchar('tuan', 'teo', 'Python')

Ex2

In [ ]:
def myrange(*param):
    start = end = step = 0
    if (len(param) == 3):
        start = param[0]
        end = param[1]
        step = param[2]
    elif (len(param) == 2):
        start = param[0]
        end = param[1]
        step = 1
    else:
        start = 0
        end = param[0]
        step = 1
    i = start
    while(i<end):
        yield i
        i += step

In [ ]:
t = myrange(10)

In [ ]:
for i in t:
    print(i)

OOP

In [ ]:
class Car:
    fuel = 'Xang'
    maxspeed = 150

In [ ]:
polo = Car()

In [ ]:
print(polo.fuel)

In [ ]:
type(polo)

In [ ]:
class Car:
    fuel = 'Xang'
    maxspeed = 150
    
    def drive(self): #self, chính bản thân class
        print('Xe chay voi toc do:', self.maxspeed)

In [ ]:
mini = Car()

In [ ]:
mini.drive()

In [ ]:
class Car:
    fuel = 'Xang'
    maxspeed = 150
    
    def drive(self, maxspeed): #self, chính bản thân class
        print('Xe chay voi toc do:',maxspeed)

In [ ]:
hong = Car()
hong.drive(300)

In [ ]:
nhan = Car()
nhan.drive(900)

Constructor

In [ ]:
class Student:
    
    def info(self, name, age):
        print('Name: ', name, ' Age: ', age)

In [ ]:
hong = Student()
hong.info('Hong', 26)

In [ ]:
class Student:
    
    def __init__(self, name, age): #Constructor, ko cần phải gọi mothods
        print('Name: ', name, ' Age: ', age)

In [ ]:
Teo = Student('Teo', 25)

In [ ]:
class Student:
    
    def __init__(self, name, age): #Constructor, ko cần phải gọi methods (Trong init, ko được phép dùng return)
        print('Name: ', name, ' Age: ', age)
    def __str__(self):
        return('-------------------------')

In [ ]:
hong = Student('Hong', 26)
print (hong)

In [ ]:
class Student:
    
    def __init__(self, name, age): #Constructor, ko cần phải gọi methods (Trong init, ko được phép dùng return)
        print('Name: ', name, ' Age: ', age)
    def __str__(self):
        return('-------------------------')
    def __del__(self):
        print('destroyed')

In [ ]:
hong = Student('Hong', 26)

In [ ]:
print(hong)

In [ ]:
del hong

In [ ]:
print(hong)

inheritance

In [ ]:
class Person:
    
    def name(self, ten):
        print('Toi ten la: ', ten)

In [ ]:
hong = Person()
hong.name('nguyen gia hong')

In [ ]:
class Student:
    
    def age(self, age):
        print('Tuoi la: ', age)

In [ ]:
teo = Student()
teo.age(26)

In [ ]:
class Student (Person): #kế thừa class Person
    
    def age(self, age):
        print('Tuoi la: ', age)

In [ ]:
nhan = Student()
nhan.name('Nguyen thanh nhan')
nhan.age(25)

In [ ]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def info(self):
        print('Toi ten la: ', self.name, ' Tuoi cua toi la: ', self.age)

In [ ]:
hong = Person('Nguyen Gia Hong', 26)
hong.info()

In [ ]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def info(self):
        print('Toi ten la: ', self.name, ' Tuoi cua toi la: ', self.age)

class Student (Person):
    
    def __init__(self, name, age, grade):
        Person.__init__(self,name,age)
        self.grade = grade
    
    def infograde(self):
        print('Lop cua ban la: ', self.grade)

In [ ]:
hong = Student('Nguyen Gia Hong', 25, '9/8')
hong.info()
hong.infograde()

Read File

In [ ]:
fp = open('data/list.txt', 'r')
for line in fp:
    print(line, end='')
fp.close()

write/read

In [ ]:
fp = open('data/write.txt', 'w')
fp.write('Hong')
fp.write('\n')
fp.write('Nguyen')
fp.write('\n')
fp.close()

In [ ]:
rFile = open('data/list.txt', 'r')
wFile = open('data/write.txt', 'w')

for line in rFile:
    print(line, file=wFile, end='')
print('Done')

Buffer

In [ ]:
BUFFERSIZE = 25000 #ghi mỗi lần 25000 byte
rFile = open('data/list.txt', 'r')
wFile = open('data/write.txt', 'w')

buffer = rFile.read(BUFFERSIZE)

i = 0
while(len(buffer)):
    i += 1
    wFile.write(buffer)
    print(i, '{} byte'.format(len(buffer)))
    buffer = rFile.read(BUFFERSIZE)
print('Done')

Method-File

In [ ]:
f = open('data/list.txt', 'r')

fpos = f.tell() # đọc đến vị trí nào
print('Doc toi vi tri', fpos)

f.seek(0) # đưa đến phần muốn đọc
print('-' * 50)

data = f.read()
print(len(data))
print(data)

Standard Module

In [ ]:
import random

In [ ]:
x = list(range(50))
x

In [ ]:
random.shuffle(x)
print(x)

In [ ]:
import datetime as dt

In [ ]:
date = dt.datetime.today()
print(date)

In [ ]:
t =dt.datetime.now()
print(t.hour)

In [ ]:
import os as o

In [ ]:
o.getcwd()

In [ ]:
path = o.getenv('PATH')
print(path)

Exception-Handling

In [ ]:
try:
    a = 100
    b = 0
    x = a/b
except:
    print('b not zero')

In [ ]:
try:
    a = 100
    b = 0
    x = a/b
except ZeroDivisionError as error:
    print('Error: ', error)

Multi Exception

In [ ]:
a = 100
b = 10

x = (a*b)+(1000*a)/(a/b)
print('x =',x)

f = open('teo.txt', 'r')
for line in f:
    print(line)

In [ ]:
try:
    a = 100
    b = 20

    x = (a*b)+(1000*a)/(a/b)
    print('x =',x)

    f = open('teo.txt', 'r')
    
    for line in f:
        print(line)
        
except ZeroDivisionError as error:
    print('Lỗi', error)
except FileNotFoundError as error:
    print('Lỗi', error)

import sqlite

In [ ]:
import sqlite3
db = sqlite3.connect('data/school.db')
db.execute('Drop table if exists student')
db.execute('Create table student (id integer primary key  autoincrement  not null, name varchar)')

In [ ]:
db.execute("insert into student(name) values ('Nguyen Thanh Nhan')")
db.execute("insert into student(name) values ('Tran Thuong Khanh')")
db.execute("insert into student(name) values ('Nguyen Hoang')")
db.execute("insert into student(name) values ('Tran Chi Lan')")

In [ ]:
db.commit()

In [ ]:
results = db.execute('select * from student')
results

In [ ]:
for row in results:
    print(row)

In [ ]:
print('-----' * 10)

In [ ]:
results = db.execute("select * from student where name = 'Tran Khanh'")
for row in results:
    print(row)

In [ ]:
db.execute("update student set name = 'Tran Khanh' where id = 3")

In [ ]:
db.execute("delete from student where id = 3")

In [ ]:
db.commit()

Arrays

In [ ]:
import numpy as np

In [ ]:
a = [1,2,3,4]

In [ ]:
a1 = np.array(a)
a1

In [ ]:
b = [4,5,6,7]
c = [8,9,10,11]
b1 = np.array(b)
c1 = np.array(c)

In [ ]:
a1,b1,c1

In [ ]:
sumarr = np.array([a1,b1,c1])
sumarr

In [ ]:
sumarr.shape

In [ ]:
A = np.arange(10)
A

In [ ]:
B = range(10)
B

In [ ]:
C = np.arange(50)
C

In [ ]:
C.shape

In [ ]:
C.reshape(5,10)

In [ ]:
D = np.arange(100).reshape(10,10)
D

In [ ]:
D.shape

In [ ]:
zero_D = np.zeros_like(D)
zero_D

Array Arithmetic

In [ ]:
arr = np.array([ [1,2,3,4],[5,6,7,8] ])

In [ ]:
arr+ 10

In [ ]:
arr**arr

In [ ]:
#Transpose
arr_T = np.transpose(arr) # or arr.T
arr_T

In [ ]:
arr.T

Array Slice

In [ ]:
A = np.arange(20)
A

In [ ]:
a1 = A[:10]
a1

In [ ]:
a1[:] = 100
a1
A

In [ ]:
A

In [ ]:
B = A
B

In [ ]:
A = np.arange(30).reshape(5,6)
A

In [ ]:
A[2]

In [ ]:
A[2][5]

In [ ]:
A[:2]

In [ ]:
A[:2, 1:3]

In [ ]:
A[[0,2,4]]

In [ ]:
x = np.random.randint(1,10)
x

In [ ]:
x = []
y = []
for i in range(10):
    x.append(np.random.randint(1,10))
    y.append(np.random.randint(1,10))

In [ ]:
x,y

In [ ]:
type(x)

In [ ]:
x = np.array(x)
y = np.array(y)

In [ ]:
type(x)

In [ ]:
x,y

In [ ]:
np.add(x,y)

In [ ]:
np.maximum(x,y)

In [ ]:
import numpy as np

In [ ]:
x = np.random.randint(1,10)
x

In [ ]:
x = []
y = []
for i in range(10):
    x.append(np.random.randint(1,10))
    y.append(np.random.randint(1,10))

In [ ]:
x = np.array(x)
y = np.array(y)

In [ ]:
x,y

In [ ]:
x.sort()

In [ ]:
x

In [ ]:
x

In [ ]:
np.unique(x)
np.unique(y)

In [ ]:
b = np.greater(x,y)
b

In [ ]:
b.all()

In [ ]:
b.any()

In [ ]:
np.equal(x,y)

Pandas

In [ ]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
s1 = Series([10,20,30,40])
s1

In [ ]:
s2 = Series([10,20,30,40], index=['A','B','C','D'])
s2

In [ ]:
diem = [10,9,10,7]
hocsinh = ['Teo','Tuan','Hong','Khanh']

In [ ]:
s3 = Series(diem, index=hocsinh)
s3

In [ ]:
s3['Teo']

In [ ]:
'Hong' in s3

In [ ]:
type(s3)

In [ ]:
s3d = s3.to_dict()
type(s3d)

In [ ]:
s3d

In [ ]:
s3

In [ ]:
pd.isnull(s3)

In [ ]:
pd.isnull(s3d)

In [ ]:
pd.notnull(s3)

In [ ]:
s3.name = 'Danh sach'

In [ ]:
s3

Index - ReIndex

In [ ]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

diem = [10,9,10,7]
hocsinh = ['Teo','Tuan','Hong','Khanh']
s3 = Series(diem, index=hocsinh)
s3

In [ ]:
s3.index

In [ ]:
s3.values

In [ ]:
s3[2:]

In [ ]:
x = list(range(11,16))
ind = ['A','B','C','D','E']

In [ ]:
s4 = Series(x, index = ind)
s4

In [ ]:
ind2 = ['A','B','C','D','E','F','G']
s5 = s4.reindex(ind2, fill_value = 0)
s5

Selection

In [ ]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

diem = [10,9,10,7]
hocsinh = ['Teo','Tuan','Hong','Khanh']
s3 = Series(diem, index=hocsinh)
s3

In [ ]:
s4 = s3 *2
s4

In [ ]:
s4[['Teo','Tuan']]

In [ ]:
s4 < 20

In [ ]:
s4[s4<20]

In [ ]:
s4[s4==20]

Data Alignment Sort

In [ ]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

diem = [10,9,10,7]
hocsinh = ['Teo','Tuan','Hong','Khanh']
s3 = Series(diem, index=hocsinh)
s3

In [ ]:
s8 = Series([0,1,2], index=['A','B','C'])
s9 = Series([3,4,5,6], index=['A','B','C','D'])
s8

In [ ]:
s9

In [ ]:
s8 + s9

In [ ]:
ind = 'a b c d e f g h i j'.split()
ind

In [ ]:
type(ind)

In [ ]:
x = []
for i in range(10):
    x.append(np.random.randint(1,100))

In [ ]:
x

In [ ]:
s10 = Series(x, index=ind)
s10

DataFrame

In [1]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [2]:
diem = [10,8,9,5,6,7,9,4,10,5]
sinhvien = ['Hong','Khanh','Nhan','Lan','Hoang','Tri','Duc','Duong','Truong','Trong']

In [3]:
data = {'sinhvien': sinhvien, 'diem': diem}

In [4]:
data

{'diem': [10, 8, 9, 5, 6, 7, 9, 4, 10, 5],
 'sinhvien': ['Hong',
  'Khanh',
  'Nhan',
  'Lan',
  'Hoang',
  'Tri',
  'Duc',
  'Duong',
  'Truong',
  'Trong']}

In [5]:
df1 = DataFrame(data)
df1

   diem sinhvien
0    10     Hong
1     8    Khanh
2     9     Nhan
3     5      Lan
4     6    Hoang
5     7      Tri
6     9      Duc
7     4    Duong
8    10   Truong
9     5    Trong

In [6]:
idx = 'A B C D E F'.split()
cols = 'col1 col2 col3 col4 col5 col6'.split()
x = []
for i in range(36):
    x.append(np.random.randint(1,100))
x = np.array(x)
x = x.reshape(6,6)
x

array([[92, 45,  9, 41, 37, 60],
       [51, 61, 26, 83, 87, 26],
       [ 7, 86, 64, 90, 92, 28],
       [89, 54, 83,  2,  3, 10],
       [49, 54, 49, 54, 57, 68],
       [85, 73, 12, 30, 62, 99]])

In [7]:
df2 = DataFrame(x, index=idx, columns=cols)
df2

   col1  col2  col3  col4  col5  col6
A    92    45     9    41    37    60
B    51    61    26    83    87    26
C     7    86    64    90    92    28
D    89    54    83     2     3    10
E    49    54    49    54    57    68
F    85    73    12    30    62    99

In [ ]:
new_idx = 'A B C D E F G H K'.split()

In [ ]:
df3 = df2.reindex(index=new_idx, fill_value=0)
df3

In [ ]:
new_cols = 'col1 col2 col3 col4 col5 col6 col7'.split()
df4 = df3.reindex(columns=new_cols, fill_value=0)
df4

In [ ]:
df5 = df2.reindex(index=new_idx, columns=new_cols, fill_value=0)
df5

BMI calculator

In [ ]:
name1 = 'Hong'
height_m1 = 1.6
weight_kg1 = 46

name2 = 'YK'
height_m2 = 2
weight_kg2 = 90

In [ ]:
def bmi_calculator(name, height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    print('bmi: ')
    print(bmi)
    if bmi < 25:
        return name + ' not overweight'
    else:
        return name + ' overweight'

In [ ]:
result1 = bmi_calculator(name1, height_m1, weight_kg1)
print(result1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
print(result2)

Python example ep 71 (cont)

In [ ]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [8]:
df2

   col1  col2  col3  col4  col5  col6
A    92    45     9    41    37    60
B    51    61    26    83    87    26
C     7    86    64    90    92    28
D    89    54    83     2     3    10
E    49    54    49    54    57    68
F    85    73    12    30    62    99

In [10]:
df2['col1']

A    92
B    51
C     7
D    89
E    49
F    85
Name: col1, dtype: int32

In [12]:
df2[['col1', 'col5']]

   col1  col5
A    92    37
B    51    87
C     7    92
D    89     3
E    49    57
F    85    62

In [14]:
df2[df2['col4'] > 50]

   col1  col2  col3  col4  col5  col6
B    51    61    26    83    87    26
C     7    86    64    90    92    28
E    49    54    49    54    57    68

In [15]:
df2 > 50

    col1   col2   col3   col4   col5   col6
A   True  False  False  False  False   True
B   True   True  False   True   True  False
C  False   True   True   True   True  False
D   True   True   True  False  False  False
E  False   True  False   True   True   True
F   True   True  False  False   True   True

In [16]:
df2.ix['E'] #lấy rows

col1    49
col2    54
col3    49
col4    54
col5    57
col6    68
Name: E, dtype: int32

In [17]:
df2['col4'] #Lấy columns

A    41
B    83
C    90
D     2
E    54
F    30
Name: col4, dtype: int32

Drop Row Columns

In [18]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [19]:
df2

   col1  col2  col3  col4  col5  col6
A    92    45     9    41    37    60
B    51    61    26    83    87    26
C     7    86    64    90    92    28
D    89    54    83     2     3    10
E    49    54    49    54    57    68
F    85    73    12    30    62    99

In [20]:
df2.drop('D')

   col1  col2  col3  col4  col5  col6
A    92    45     9    41    37    60
B    51    61    26    83    87    26
C     7    86    64    90    92    28
E    49    54    49    54    57    68
F    85    73    12    30    62    99

In [23]:
df2.drop('col1', axis = 1)

   col2  col3  col4  col5  col6
A    45     9    41    37    60
B    61    26    83    87    26
C    86    64    90    92    28
D    54    83     2     3    10
E    54    49    54    57    68
F    73    12    30    62    99

In [26]:
df6 = DataFrame(np.arange(4).reshape(2,2), columns=list('AB'), index=list('xy'))
df6

   A  B
x  0  1
y  2  3

In [27]:
df7 = DataFrame(np.arange(9).reshape(3,3), columns=list('ABC'), index=list('xyz'))
df7

   A  B  C
x  0  1  2
y  3  4  5
z  6  7  8

In [28]:
df6 + df7

     A    B   C
x  0.0  2.0 NaN
y  5.0  7.0 NaN
z  NaN  NaN NaN

In [29]:
df6.add(df7, fill_value=0)

     A    B    C
x  0.0  2.0  2.0
y  5.0  7.0  5.0
z  6.0  7.0  8.0

Operation-DFs

In [30]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [37]:
x = []
for i in range(36):
    x.append(np.random.randint(1,100))
x = np.array(x)
x = x.reshape(6,6)

df1 = DataFrame(x, columns=list('123456'), index=list('ABCDEF'))
df1

    1   2   3   4   5   6
A  55  48  92  72  49  89
B  95  67  54  22  68  60
C  46  93  58  26  43   5
D  73  70  49  90   9  54
E  43  69  69  58  86  52
F  62  64  55  67   6  85

In [38]:
df1.sum()

1    374
2    411
3    377
4    335
5    261
6    345
dtype: int64

In [39]:
df1.sum(axis=1)

A    405
B    366
C    271
D    345
E    377
F    339
dtype: int64

In [40]:
df1.idxmax()

1    B
2    C
3    A
4    D
5    E
6    A
dtype: object

In [42]:
df1.cumsum() #sum dồn theo col

     1    2    3    4    5    6
A   55   48   92   72   49   89
B  150  115  146   94  117  149
C  196  208  204  120  160  154
D  269  278  253  210  169  208
E  312  347  322  268  255  260
F  374  411  377  335  261  345

In [43]:
df1.describe()

               1          2          3          4          5          6
count   6.000000   6.000000   6.000000   6.000000   6.000000   6.000000
mean   62.333333  68.500000  62.833333  55.833333  43.500000  57.500000
std    19.366638  14.460291  15.765998  26.806093  31.728537  30.177807
min    43.000000  48.000000  49.000000  22.000000   6.000000   5.000000
25%    48.250000  64.750000  54.250000  34.000000  17.500000  52.500000
50%    58.500000  68.000000  56.500000  62.500000  46.000000  57.000000
75%    70.250000  69.750000  66.250000  70.750000  63.250000  78.750000
max    95.000000  93.000000  92.000000  90.000000  86.000000  89.000000

In [47]:
nd = np.nan
A = [1,2,3]
B = [4,nd,6]
C = [nd,8,nd]
D = [nd,nd,nd]

df2 = DataFrame([A,B,C,D])
df2

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  6.0
2  NaN  8.0  NaN
3  NaN  NaN  NaN

In [48]:
df2.dropna()

     0    1    2
0  1.0  2.0  3.0

In [49]:
df2.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  6.0
2  NaN  8.0  NaN

In [54]:
df2.dropna(thresh=1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  6.0
2  NaN  8.0  NaN

In [55]:
df2.fillna(100)

       0      1      2
0    1.0    2.0    3.0
1    4.0  100.0    6.0
2  100.0    8.0  100.0
3  100.0  100.0  100.0

In [57]:
df2.fillna(0, inplace=True)
df2

     0    1    2
0  1.0  2.0  3.0
1  4.0  0.0  6.0
2  0.0  8.0  0.0
3  0.0  0.0  0.0

Multi level Index

In [60]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [61]:
ind1 = 'A A A B B B'.split()
ind2 = 'a b c a b c'.split()
cols1 = 'C1 C2 C2 C3 C3'.split()
cols2 = 'col1 col2 col3 col4 col5'.split()

x = []
for i in range(30):
    x.append(np.random.randint(1,100))

x = np.array(x)
x = x.reshape(6,5)
x

array([[50, 85,  8, 70, 42],
       [25,  5, 39, 87, 48],
       [17, 77, 11, 82, 10],
       [ 2, 11, 59, 99,  8],
       [87, 66, 61, 30, 56],
       [72, 42, 77, 85, 27]])

In [63]:
df1 = DataFrame(x, index=[ind1, ind2], columns=[cols1, cols2])
df1

      C1   C2        C3
    col1 col2 col3 col4 col5
A a   50   85    8   70   42
  b   25    5   39   87   48
  c   17   77   11   82   10
B a    2   11   59   99    8
  b   87   66   61   30   56
  c   72   42   77   85   27

In [65]:
df1['C2']

     col2  col3
A a    85     8
  b     5    39
  c    77    11
B a    11    59
  b    66    61
  c    42    77

In [66]:
df1[['C1','C3']]

      C1   C3
    col1 col4 col5
A a   50   70   42
  b   25   87   48
  c   17   82   10
B a    2   99    8
  b   87   30   56
  c   72   85   27